<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Adventure game apps!</h1>
    <ul>
      <li>Guns of boom</li>
      <li><img src = "https://lh3.googleusercontent.com/-PmWl6wQUYhkNkgS1KTfqessmZLHypsbtT8_ZHEYM1kFGL88_BYgRQ89UOicxmxe9M8E"></li>
      <li>Jetpack Joyride</li>
      <li><img src = "https://images-fe.ssl-images-amazon.com/images/I/A18-ma1iBrL.png"></li>
      <li>Fruit Ninja</li>
      <li><img src = "http://www.eslash.fr/wp-content/uploads/2017/10/fruit-ninja-free-logo.png"></li>
      
    </ul>
  </body>
</html>
