<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <ul>
      <li>Pac Man</li>
      <li><img src = https://d2e111jq13me73.cloudfront.net/sites/default/files/styles/product_image_aspect_switcher_170w/public/product-images/csm-app/pacmaniconnew.png?itok=PeDMs9QW></li>
      <li>Jelly Jump</li>
      <li><img src = "https://is4-ssl.mzstatic.com/image/thumb/Purple49/v4/13/43/fb/1343fbfb-45c5-faf6-b124-bb9b1b5563a8/pr_source.jpg/246x0w.jpg"></li>
      <li>Helix jump</li>
      <li><img src = https://lh3.googleusercontent.com/MpmyS6-bGnH2vRQBqS2W9IZLfo7P4KU1scgq515s9sufLXuwZGmQp4hlg-e5F8b9wg=s180></li>
      
    </ul>
  
  </body>
</html>