<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Puzzle apps</h1>
    <ul>
      <li>Puzzledom</li>
      <li><img src = "https://is3-ssl.mzstatic.com/image/thumb/Purple128/v4/43/d7/89/43d789e4-4ef8-7a76-7bd1-c9a6b127d438/AppIcon-1x_U007emarketing-85-220-5.png/246x0w.jpg"> </li>
      <li>1010</li>
      <li><img src = "https://i.downloadatoz.com/download/icon2/b/7/c/5fe91ebc5fddf9c3b5341617eb986c7b.jpg"></li>
      <li>Lolo</li>
      <li><img src = "https://lh3.googleusercontent.com/Kmur4RI6yS6vSC_PisBe26ZWs12K8dZY8Rmv3TLGCN8InddfRGJm4JYxmKnxv3Wq8bZH=s180"></li>
    </ul>
  </body>
</html>

