<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="container">
      <h1 class="header">Games</h1>

      <h4 class="caption"> Find which game to play</h4>
      <div class="question">
      <form action="/results" method="post">
      <h2>What is this cookie for?</h2>
        <input type="radio" name="device" value="1">Computer<br>
        <input type="radio" name="device" value="5">Phone<br>
        <h2>What kind of game would you like to play?</h2>
        <input type="radio" name="Categorie" value="1">Action<br>
        <input type="radio" name="Categorie" value="2"> Puzzle<br>
        <input type="radio" name="Categorie" value="3">Dumb<br>
        <input type="radio" name="Categorie" value="4">Arcade<br>
       
          <button type = "submit" class="new"> Let's play! </button>
          
          # get '/#{params[device]}/#{params[Categorie]}' do
      </form>
    </div>
  </div>

  </body>
</html>

