<!DOCTYPE html>
<html>
  <head>
    <title>Puzzle PC Games</title>
  </head>
  <body>
    <a href="https://www.miniclip.com/games/genre-1/puzzle/en/#t-n-C">Click for puzzle PC games</a>
  </body>
</html>
